// FFXV Subreddit Theme
// ---------------
// Site:          https://reddit.com/r/FFXV
// Development:   https://github.com/aentan/rffxv-theme
// Authors:       Rngeez/Voicrose, DEmonicpizzapan


// Table of Contents
// ---------------
// Use this to quickly locate sections of the stylesheet.

// 1.   CSS Reset
// 2.   FFXV Fonts!
// 3.   Variables & Mixins
// 4.   Typography
// 5.   Layout
//      5.1    Header
//      5.2    Main
//      5.3    Side
// 6.   Background
// 7.   Mod page
// 8.   Helpers
// 9.   User Flairs
// 10.  RES Compatibility


// 1. CSS Reset
// ---------------

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


// 2. FFXV Fonts!
// ---------------

// @font-face {
//   font-family: 'TeXGyreAdventor';
//   src: url('https://fontlibrary.org/assets/fonts/tex-gyre-adventor/e30926edb4b41933338d79368a3dca08/9cd48b3909a515a4529b85bce81de7e0/TeXGyreAdventorBold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'TeXGyreAdventor';
//   src: url('https://fontlibrary.org/assets/fonts/tex-gyre-adventor/e30926edb4b41933338d79368a3dca08/28f66e8945b451b6469af548bb9b2c5c/TeXGyreAdventorBoldItalic.ttf') format('truetype');
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'TeXGyreAdventor';
//   src: url('https://fontlibrary.org/assets/fonts/tex-gyre-adventor/e30926edb4b41933338d79368a3dca08/5dad768717aa1c2b61cbd13a01d9c5a3/TeXGyreAdventorItalic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'TeXGyreAdventor';
//   src: url('https://fontlibrary.org/assets/fonts/tex-gyre-adventor/e30926edb4b41933338d79368a3dca08/61abfb681193c03b899cd27fad39e3d6/TeXGyreAdventorRegular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }


// 3. Variables & Mixins
// ---------------

$accent-color-primary:    #3d3d99;
$accent-color-secondary:  #696dd8;

$text-color:              #c7c6d1;
$text-color-muted:        #81809a;
$link-color-primary:      $accent-color-secondary;
$link-color-secondary:    #a1a4ff;
$link-color-muted:        #676896;

$body-background-color:   #1b1b29;
$item-background-color:   #222235;
$accent-background-color: #292845;
$item-border:             1px solid rgba(white, 0.2);
// $default-font:         'TeXGyreAdventor'
$default-font:            Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$button-font:             Futura, Trebuchet MS, Arial, sans-serif;

$header-height:           256px;

@mixin decorative-corners() {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    content: "";
    width: 4px;
    height: 4px;
    background: url(%%vote-arrow%%);
  }
  &:after {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    content: "";
    width: 4px;
    height: 4px;
    background: url(%%vote-arrow%%);
  }
}

@mixin textfield() {
  outline: none;
  border: 1px solid rgba(white, 0.4);
  background-color: $body-background-color;
  height: 35px;
  color: $text-color;
  font-family: $default-font;
  font-size: 1.2rem;
  padding: 0 10px;
  &::placeholder {
    font-family: $default-font;
    text-transform: capitalize;
    color: $text-color-muted;
    font-size: 1.2rem;
  }
}

@mixin button() {
  border: 0;
  border-radius: 0;
  color: $text-color;
  //text-shadow: 0 0 4px #695679;
  font-family: $button-font;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: $accent-color-primary;
}


// 4. Typography
// ------------------------------------

html {
  font-size: 62.5%;
}

body {
  // font-family: 'TeXGyreAdventor';
  font-family: $default-font;
  color: $text-color;
}

a {
  color: $link-color-primary;
}



// 5. Layout
// ------------------------------------

body {
  background-color: $body-background-color;
  min-width: 920px;
}

#header {
  background: url(%%header%%) no-repeat right center;
  background-size: cover;
  height: $header-height;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(white, 0.25);
}

// 5.1 Header
// ---------------

#sr-header-area {
  background-color: rgba(#1C1C41, 0.24);
  border-bottom: 0;
  height: 24px;
  font-size: 1.0rem;
  position: relative;
  z-index: 1;

  .dropdown.srdrop {
    line-height: 24px;
    .selected {
      line-height: 24px;
      color: rgba(white, 0.6);
      margin-left: 0;
      margin-right: 0;
    }
  }

  .sr-list {
    > .separator {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .sr-bar {
    a {
      line-height: 24px;
      color: rgba(white, 0.6);
    }
    li {
      margin-left: 4px;
      margin-right: 4px;
    }
    .separator {
      display: none;
    }
  }

  #sr-more-link {
    display: none;
  }
}

#header-bottom-left {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;

  .redditname {
    background: url(%%final-fantasy-xv-logo%%) no-repeat 23.6% center;
    background-size: contain;
    position: absolute;
    width: 406px;
    height: 81px;
    left: 30px;
    bottom: 70px;
    text-indent: 102%;
    white-space: nowrap;
    overflow: hidden;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .tabmenu {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 0;
    width: calc(100% - 330px);
    height: 48px;
    background-image: linear-gradient(to left, rgba(28, 28, 65, 0), #1c1c41 52%, rgba(28, 28, 65, 0));
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
    }
    li {
      font-size: 2rem;
      line-height: 48px;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 0;
      a {
        background-color: transparent;
        color: $link-color-muted;
        padding-left: 15px;
        padding-right: 15px;
        height: 44px;
        padding-top: 4px;
        display: block;
        //text-shadow: 0 0 4px $link-color-primary;
      }
      &.selected a {
        border: 0;
        color: $link-color-secondary;
      }
    }
  }
}

// Hide some sections
.listing-page .tabmenu li:nth-of-type(3),
.listing-page .tabmenu li:nth-of-type(4),
.listing-page .tabmenu li a[href *="/promoted"],
.listing-page .tabmenu li a[href *="/gilded"] {
  display: none
}

#header-bottom-right {
  bottom: 48px;
  height: 40px;
  padding-bottom: 48px;
  padding: 0 15px;
  background-image: linear-gradient(to right, rgba(30, 38, 70, 0), #0d111b);
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  }
  .separator {
    visibility: hidden;
    margin: 0 2px;
  }
  .flat-list a,
  .logout a {
    text-transform: capitalize;
  }
}

.user {
  color: $text-color;
}

.pref-lang {
  font-weight: normal;
}

// 5.2 Main
// ---------------

.content {
  margin: 15px;

  > h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
  }
}

.listing-page,
.comments-page {
  .content {
    margin: 0;
  }
}

.linklisting,
.organic-listing {
  background-color: transparent !important;
  border: 0;
  margin-right: 315px;
  padding: 15px;
  overflow: visible;
}

.thing {
  margin-bottom: 15px;
  display: flex;
  position: relative;

  .rank {
    display: none;
  }

  .title {
    color: $text-color;
    font-size: 1.6rem;
    line-height: 2.0rem;
    letter-spacing: 0.05rem;
    margin: 5px 0;
    a:link {
      //text-shadow: 0 0 4px #695679;
    }
    a:visited {
      color: $link-color-muted;
      //text-shadow: none;
    }
  }

  &.stickied {
    &.link a.title {
      color: $text-color;
      font-weight: normal;
    }
  }
}

.linkflair-spoiler {
  a.title {
    color: $accent-background-color;
    background-color: $accent-background-color;
    &:visited {
      color: $accent-background-color;
      background-color: $accent-background-color;
    }
    &:before {
      content: "";
    }
  }
}

.organic-listing {
  margin-bottom: -10px;
  .link,
  .link.compressed,
  .link.promotedlink {
    // Fix promoted links alignment
    padding: 15px 15px 15px 75px;
  }

  .promoted {
    border: $item-border;
  }

  .help {
    right: 15px;
    bottom: -5px;
    color: $link-color-primary;
  }

  .sponsored-tagline {
    right: 5px;
    bottom: 5px;
    font-weight: normal;
    color: $text-color-muted;
  }
}


.link {
  padding: 15px 15px 15px 75px;
  border: $item-border;
  background-color: $item-background-color;
  @include decorative-corners();

  &.stickied:nth-child(3) {
    margin-top: -16px;
  }

  &.promotedlink.promoted,
  &.promotedlink.external {
    background-color: $item-background-color;
  }

  .score {
    font-size: 1.6rem;
    font-weight: normal;
    color: $text-color-muted;
    letter-spacing: 0.1rem;
    margin: 3px 0 -3px;
    &.likes {
      color: $link-color-secondary;
      //text-shadow: 0 2px 4px #554bbd;
    }
  }
  .linkflairlabel {
    background-color: transparent;
    color: rgba($text-color, 0.5);
    font-size: 1.3rem;
    border: 0;
    border-radius: 0;
    padding: 0 5px;
    margin-right: 7px;
    line-height: 1.9rem;
    //text-shadow: none;
    @include decorative-corners();
  }
  .midcol {
    width: 60px !important;
    background-color: $accent-background-color;
    padding: 12px 0;
    > div {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.link .usertext-body .md {
  background-color: $item-background-color;
  border: 0;
  border-radius: 0;
  background: linear-gradient(to right, rgba($item-background-color,1) 0%, rgba($item-background-color,0) 100%);
  margin-bottom: 15px;
  color: $text-color;
}

.comment {
  padding: 15px 15px 15px 35px;
  margin-bottom: 10px;
  position: relative;
  flex-wrap: wrap;
  border: $item-border;

  .content .details {
    margin-left: 0;
  }

  &.collapsed {
    .tagline,
    .tagline a,
    .search-result-meta,
    .search-result-meta a {
      color: $text-color-muted;
    }
  }

  &.noncollapsed {
    .child .usertext {
      margin-top: 10px;
    }
  }

  .midcol {
    width: 30px !important;
    padding: 10px 0;
    margin-left: 5px;
  }
  .tagline {
    margin-bottom: 5px;
    color: $text-color-muted;
  }
  .child,
  .showreplies {
    margin-top: 10px;
    margin-right: 0;
    border-left: 0;
    margin-left: 0;
  }
  .md {
    color: $text-color;
  }
}

.new-comment {
  background: linear-gradient(to right, rgba($item-background-color,1) 0%, rgba($item-background-color,0) 100%);
  .usertext-body {
    background-color: transparent;
    border: 0;
  }
}

.midcol {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  height: calc(100% - 24px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.arrow {
  background-size: 26px 26px;
  width: 26px;
  height: 26px;
  &.up, &.down, &.upmod, &.downmod {
    background-image: url(%%vote-arrow%%);
    background-position: 0 0;
    opacity: 0.3;
  }
  &.down, &.downmod {
    transform: rotate(180deg);
  }
  &.upmod, &.downmod {
    opacity: 1;
  }
}

.thumbnail {
  border: $item-border;
  margin-right: 15px;
  margin-bottom: 0;
  width: 88px;
  min-height: 64px;
  max-height: 64px;
  height: auto;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: $item-background-color;
  @include decorative-corners();
  &.self,
  &.default {
    background: url(%%thumbnail-placeholder%%) no-repeat center center;
    background-size: contain;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.entry {
  margin-left: 0;
  width: 100%;
  .buttons li {
    font-size: 1.2rem;
    a {
      font-weight: normal;
      color: $link-color-secondary;
      text-transform: capitalize;
    }
    &.reported-stamp {
      color: $body-background-color;
      font-size: 1rem;
      border: 0;
    }
  }
}

.entry .buttons li.reported-stamp {
  color: $body-background-color;
  font-size: 1rem;
  border: 0;
}

.comment .entry .buttons a {
  color: $link-color-muted;
}

.expando-button {
  margin: 4px 10px 4px 0;
  height: 25px;
  width: 25px;
  text-align: center;
  color: $text-color-muted;
  line-height: 20px;
  font-size: 1.4rem;
  &.collapsed.selftext,
  &.collapsed.video {
    // plus
  }
  &.expanded.selftext,
  &.expanded.video {
    // minus
  }
}

.expando {
  margin: 15px 0;
  * {
    overflow: hidden;
  }
}

.tagline {
  color: $text-color-muted;
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
  &:first-letter {
    text-transform: uppercase;
  }
  a {
    color: $link-color-primary;
    &.moderator {
      color: $link-color-primary;
    }
  }
  .stickied-tagline {
    color: $text-color-muted;
  }
}

.domain {
  position: absolute;
  right: 7px;
  bottom: 5px;
  font-size: 1.1rem;
  color: $item-background-color;
  //text-shadow: none;
  a {
    color: $text-color-muted;
  }
}

.nextprev {
  color: inherit;
  text-transform: capitalize;
}

.nextprev a,
.next-suggestions a {
  @include button();
  padding: 5px 10px;
  margin: 0 5px;
}

.commentarea {
  padding: 15px;

  .menuarea {
    margin: 0 315px 15px 0;
    color: inherit;
    font-size: 1.3rem;

    .toggle a {
      font-weight: normal;
      color: $link-color-primary;
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-transform: capitalize;
    }
  }

  > .usertext {
    margin: 0 0 15px;
  }

  .md {
    margin: 0 0 5px;
  }
}

.usertext-edit textarea {
  @include textfield();
  background-color: $item-background-color;
  width: 490px;
  height: 120px;
  padding: 5px;
}

.usertext {
  button {
    margin: 0 10px 0 0;
    @include button();
    padding: 5px 10px;
    font-size: 1.3rem;
  }

  .help-toggle,
  a.reddiquette {
    font-size: 1.3rem;
    text-transform: capitalize;
  }

  &.grayed {
    .usertext-body {
      color: $text-color-muted;
      background-color: $item-background-color;
      .md {
        margin-bottom: 0;
      }
    }
  }
}

.panestack-title {
  margin: 0 0 15px;
  padding: 0;
  border: 0;
  .title {
    font-size: 1.8rem;
    text-transform: capitalize;
  }
}

.dropdown.lightdrop {
  .selected {
    color: inherit;
  }
}

.comment {
  .child,
  .showreplies {
    border: 0;
  }
}

.tagline .submitter,
.search-result-meta .submitter,
.tagline .author,
.search-result-meta .author {
  color: $link-color-secondary;
  font-size: 1.3rem;
}

.footer-parent {
  padding: 270px 0 40px;
}

.footer {
  border: 0;
  line-height: 1.4rem;
  .col {
    border: 0;
  }
}

.bottommenu {
  line-height: 1.5rem;
}

.md {
  blockquote {
    border-left: 2px solid $accent-color-primary;
    color: $text-color-muted;
  }
  code, pre {
    background-color: $item-background-color;
    border: 1px solid rgba(white, 0.1);
    font-family: monospace;
    font-size: 1.6rem;
    color: $text-color-muted;
  }
}

.new-comment .md :not(pre)>code,
.link .md :not(pre)>code,
.usertext.border .md :not(pre)>code,
.new-comment .md pre, .link .md pre,
.usertext.border .md pre {
  background-color: $item-background-color;
}

form.content {
  color: initial;
}

.infobar {

}


// 5.3 Side
// ---------------

.side {
  background-color: transparent;
  width: 300px;
  margin: 15px;
  margin-top: 450px;
  color: $text-color;
  line-height: 1.5rem;
  float: right;
  .spacer {
    margin: 0;
  }
  &:before {
    content: "";
    width: 300px;
    height: 240px;
    display: block;
    background-image: url(%%daystogo%%);
    background-size: cover;
    position: absolute;
    top: $header-height - 48;
    z-index: 1;
    border: $item-border;
  }
  .titlebox {
    h1.redditname {
      position: absolute;
      top: $header-height + 208px;
      z-index: 100;
      line-height: 1.7rem;
      &:before {
        border: $item-border;
        @include decorative-corners();
        background-color: $accent-background-color;
        content: "";
        position: absolute;
        display: block;
        width: 300px;
        z-index: -1;
        height: 65px;
        margin: -15px 0 0 -16px;
      }
    }
    span.subscribers {
      position: absolute;
      z-index: 100;
      top: $header-height + 233px;
      color: $text-color-muted;
    }
    .fancy-toggle-button {
      margin: 0;
      position: absolute;
      margin-left: 170px;
      top: $header-height + 212px;
      z-index: 100;
      a {
        border-radius: 0;
      }
    }
  }
}

#search {
  padding: 10px;
  margin: 0 20px;
  position: absolute;
  top: $header-height + 273px;
  width: 240px;
  z-index: 1;
  input[type=text] {
    width: 100%;
    @include textfield();
  }
  &:before {
    position: absolute;
    content: "";
    width: 17px;
    height: 24px;
    top: 16px;
    left: -5px;
    background: url(%%textfield-sides%%);
    background-size: 17px 24px;
  }
  &:after {
    position: absolute;
    content: "";
    width: 17px;
    height: 24px;
    top: 16px;
    right: -5px;
    background: url(%%textfield-sides%%);
    background-size: 17px 24px;
    transform: rotate(180deg);
  }
}

.linkinfo {
  background-color: $item-background-color;
  border: $item-border;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 0;
  .date {
    margin-bottom: 5px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  .shortlink {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

#ad_main_top,
#ad_main {
  background-color: rgba(black, 0.1);
}

.login-form-side {
  background-color: $item-background-color;
  border: $item-border;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;

  input[type=text],
  input[type=password] {
    margin: 0;
    width: calc(50% - 5px);
    @include textfield();
  }

  input[type=text] {
    margin-right: 10px;
  }

  #remember-me {
    margin: 0 0 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  label {
    padding: 0;
  }

  .submit {
    margin: 0;
    padding: 0;
    button {
      margin: 0;
      padding: 7px 15px;
      @include button();
      text-transform: uppercase;
    }
  }
}

.morelink {
  background-image: none;
  border: 0;
  width: 300px;
  height: 35px;
  position: absolute;
  top: $header-height + 343px;
  a {
    line-height: 35px;
    @include button();
  }
  .nub {
    display: none;
  }
}

.sidebox.submit.submit-text .morelink {
  margin-top: 50px;
}


.titlebox {
  margin: 15px 0;
  background-color: $item-background-color;
  border: $item-border;
  padding: 15px;
  h1 {
    margin-bottom: 15px;
    a {
      color: inherit;
      font-weight: normal;
    }
  }
  .subscribe-button {
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: normal;
    .add {
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      font-weight: normal;
      line-height: 3rem;
      padding: 10px 10px;
      background-color: green;
      background-image: none;
      border: 0;
    }
  }

  .users-online {
    margin-bottom: 15px;
  }

  .leavemoderator,
  form.toggle {
    color: inherit;
    background-color: transparent;
  }

  .bottom {
    border-top: 0;
    padding-top: 15px;
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
      background-color: transparent;
    }
  }
}

.md {
  color: $text-color;

  .-blocks,
  .-lists,
  pre,
  blockquote,
  table,
  p,
  ul,
  ol {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }

  a {
    color: $link-color-primary;
  }

  hr {
    margin: 20px 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
    background-color: transparent;
    border: 0;
    height: 1px;
  }
}

.sidecontentbox {
  margin: 15px 0;
  background-color: $item-background-color;
  border: $item-border;
  padding: 15px;
  .title {
    margin: 0 0 10px;
    h1 {
      color: inherit;
    }
  }
  a.helplink {
    margin-top: 0;
    text-transform: capitalize;
  }
  .content {
    border: 0;
    padding: 0;
  }
  .more {
    text-transform: capitalize;
  }
}


// 6. Background
// ---------------

html {
  height: auto;
}

body {
  background-image: url(%%footer%%);
  background-position: 50% 100% !important;
  background-repeat: no-repeat;
  background-size: contain;
}


// 7. Mod Stuff
// ---------------

.sheets .col textarea {
  width: calc(100% - 400px);
}

.icon-menu a {
  background-color: transparent;
}


// 8. Helpers
// ---------------

// Spoiler tag within comments. Your comment should be: "[This is a spoiler sentence.](/spoiler)"
a[href$="/spoiler"] {
  background-color: #000;
  color: #000;
  &:hover {
    color: $text-color;
  }
}


// 9. User Flairs
// ---------------

.author + .flair {
  width: 30px;
  height: 30px;
  padding: 0;
  vertical-align: -10px;
  border: 0;
  border-radius: 15px;
  background: none;
  background-color: transparent;
  background-image: url(%%character-flairs%%);
  background-size: 180px 120px;
  &.flair-noctis    { background-position: 0 0; }
  &.flair-ignis     { background-position: -30px 0; }
  &.flair-gladio,
  &.flair-gladiolus { background-position: -60px 0; }
  &.flair-prompto   { background-position: -90px 0; }
  &.flair-regis     { background-position: -120px 0; }
  &.flair-iedolas   { background-position: -150px 0; }

  &.flair-luna,
  &.flair-lunafreya,
  &.flair-Lunafreya { background-position: 0 -30px; }
  &.flair-gentiana  { background-position: -30px -30px; }
  &.flair-ardyn     { background-position: -60px -30px; }
  &.flair-ravus     { background-position: -90px -30px; }
  &.flair-cindy     { background-position: -120px -30px; }
  &.flair-cid       { background-position: -150px -30px; }

  &.flair-old-noctis{ background-position: 0 -60px; }
  &.flair-cor       { background-position: -30px -60px; }
  &.flair-iris      { background-position: -60px -60px; }
  &.flair-aranea    { background-position: -90px -60px; }
  &.flair-glauca    { background-position: -120px -60px; }
  &.flair-nyx       { background-position: -150px -60px; }

  &.flair-crowe     { background-position: 0 -90px; }
  &.flair-libertus  { background-position: -30px -90px; }
  &.flair-drautos   { background-position: -60px -90px; }
  &.flair-luche     { background-position: -90px -90px; }
  &.flair-carbuncle { background-position: -120px -90px; }
  &.flair-kid-noctis{ background-position: -150px -90px; }
}



// 10. RES Compatibility
// ---------------

.res {
  .RES-keyNav-activeElement,
  .commentarea .RES-keyNav-activeElement .md,
  .RES-keyNav-activeElement .md-container,
  .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
    background: $accent-background-color !important;
    border-radius: 0;
  }

  .RES-keyNav-activeElement .md-container,
  .RES-keyNav-activeElement,
  .commentarea .RES-keyNav-activeElement .md,
  .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
    background: $accent-background-color !important;
    border-radius: 0;
  }

  .res-commentBoxes {
    &.res-commentBoxes-rounded .comment {
      border-radius: 0 !important;
    }
    .comment {
      border: $item-border !important;
    }
    .comment .comment,
    .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
      background: $body-background-color !important;
    }
  }

  .nestedlisting .entry {
    margin-left: 35px !important;
  }
}